body {
    background-color: #FFFFF0;
    margin-left: auto;
    margin-right: auto;
    font-family: "Verdana", sans-serif;

}

#Github {
    /*  tamanho do  elemento    =   imagem  */
    height: 32px;
    width: 32px;
    /*  imagem  como    fundo   */
    right: 5px;
    top: 5px;
    position: absolute;
}


header {
    position: static;
    background-color: #BC8F8F;
    margin-top: 0;
    padding-bottom: 10px;
    width: 100vw;
    height: 65vh;

}

header #titulo {
    text-align: center;
    font-size: 60px;
    color: #B22222;
    padding-top: 150px;
}

#menu {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 20px;
}

#menu li {
    display: inline-block;
    text-align: center;
    font-size: 25px;
    color: #708090;
    padding: 25px;
    letter-spacing: 2px;
}
/* foto about */
#about {
    float: right;
    margin: 0 80px 0 1px;
    opacity: .8;

}

h2 {
    text-align: center;
    font-size: 28px;
    color: #708090;
    padding: 80px 0 0 10px;
    letter-spacing: 2px;
}

div #sobre #habilidades #cursos #onde {
    height: 100vh;
    position: relative;

}

figcaption {
    font-size: 12px;
    text-align: center;

}

/* texto ao lado da imagem no sobre */
.texto1 {
    font-size: 18px;
    color: #696969;
    padding: 10px 0px 0px 150px;
}

/* outros textos */
.textos {
    font-size: 18px;
    color: #696969;
    padding: 10px 80px 80px 150px;

}
#cursos {
    padding: 10px 80px 80px 150px;
}

#cursos li {
    list-style-type: disclosure-closed;
    list-style-position: inside;
    font-size: 18px;
    color: #696969;

}

#contato {
    text-align: justify;

}

#contato li {
    list-style-type: none;
    padding: 10px 80px 10px 150px;

    font-size: 18px;
    color: #696969;
}

a {
    /* para tirar o sublinado e o azul dos links */
    color: inherit;
    text-decoration: none;
}

/* botao de voltar ao topo! */
#subirTopo {
text-decoration: none;
background: #BC8F8F;
bottom: 30px;
right: 30px;
color: #fff;
text-align: center;
cursor: pointer;
padding: 15px;
font-size: 15px;
font-weight: bold;
text-transform: uppercase;
position: fixed;
border: 0;
font-family: sans-serif;
opacity: .7;
}

#subirTopo:hover {
opacity:.8;
}
/* fim do botao voltar ao topo */

/* inicio do css para mobile */

@media (max-width: 320px) {

body {

}
header {
height: 50vh;
width: 100vw;
}

header #titulo {
    text-align: center;
    font-size: 30px;
    color: #B22222;
    padding-top: 100px;
}

#about {
    float: center;
    margin: 20px 20px 20px 20px;
    opacity: .9;
}

.texto1, .textos, #cursos li, #contato li  {
font-size: 14px;
}

}