body {
    background-color: #FFFFF0;
    margin-left: 0;
    margin-right: 0;
}

header {
    background-color: #BC8F8F;
    margin-top: 0;
    padding-bottom: 10px;
    height: 400px;

}

header #titulo {
    text-align: center;
    font-size: 60px;
    font-family: "Verdana";
    color: #DC143C;
    padding-top: 140px;
}

#menu {
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 50px;
    width: 100%;
    height: 100%;
    text-align: center;
}

#menu li {
    font-family: "Verdana";
    display: inline-block;
    text-align: center;
    font-size: 25px;
    color: #708090;
    padding: 25px;
    letter-spacing: 2px;
}

h2 {
    text-align: center;
    font-family: "Verdana";
    font-size: 25px;
    color: #708090;
    padding: 5px;
    letter-spacing: 2px;
}

p {

}
/* para tirar o sublinado e o azul dos links */
a {
    color: inherit;
    text-decoration: none;
}

/* botao de voltar ao topo! */
#subirTopo {
text-decoration: none;
background: #BC8F8F;
bottom: 30px;
right: 30px;
color: #fff;
text-align: center;
cursor: pointer;
padding: 15px;
font-size: 15px;
font-weight: bold;
text-transform: uppercase;
position: fixed;
border: 0;
font-family: sans-serif;
opacity: .8;
}

#subirTopo:hover {
opacity:1;
}